body{
  margin:0;
  font-size:14px;
  color:#666666;
  font-family: 'Montserrat', sans-serif;
}

.container{
  width:1170px;
  margin:0 auto;
}

.clearBoth{
  clear:both;
}

.button{
  background:#FFFFFF;
  color:#97735e;
  text-transform: uppercase;
  padding:20px 30px;
  display:inline-block;
  text-decoration:none;
  transition:0.5s all linear;
}

.button:hover{
  background:#97735e;
  color:#FFFFFF;
  padding:20px 40px;
  
}



/**************

      HEADER

***************/

header#header{
  background:url('../images/fond_header.jpg');
  background-size: cover;
  padding-top:85px;
  padding-bottom:145px;
}

.lienAccueil{
  padding-left:30px;
}

.informationsHeader{
  padding-top:290px;
  text-align:center;
}

.informationsHeader h1{
  font-size:69px;
  text-transform: capitalize;
  color:#FFFFFF;
  font-weight:bold;
  margin-bottom:0;
  line-height: 64px;
}

.informationsHeader h2{
  font-size:44px;
  color:#FFFFFF;
  margin-top:0;
  line-height: 42px;
}





















